* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: 400;
  margin-top: 5px;
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-weight: 400;
  font-size: 19px;
}

a {
  display: block;
  margin-top: 10px;
  margin-top: 10px;
  color: #2997ff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section, .article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*MIXING*/
/*NAVBAR */
.nav {
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

@media (max-width: 732px) {
  .nav {
    position: absolute;
    -webkit-transition: height 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: height 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .nav.act {
    height: 100%;
  }
}

.nav__small {
  height: 44px;
  position: relative;
  z-index: 10;
  display: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 732px) {
  .nav__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__search {
  height: auto;
  display: none;
  position: absolute;
  top: 44px;
  width: 100%;
  border-bottom: 1px solid #424245;
  padding-bottom: 11px;
}

@media (max-width: 732px) {
  .nav__search {
    display: block;
    opacity: 0;
  }
  .nav__search.act {
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    opacity: 1;
  }
}

.nav__search form {
  left: 50%;
  position: relative;
  max-width: 584px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav__search form input {
  font-size: 17px;
  padding: 10px;
  height: 2.11765em;
  border-radius: 8px;
  width: 100%;
  border: none;
  color: #6e6e734f;
  background: #424245;
  opacity: 0.8;
}

.nav__items {
  width: 100%;
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
}

@media (max-width: 732px) {
  .nav__items {
    opacity: 0;
    max-width: 584px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 92px;
    padding: 0;
  }
}

.nav__items.act {
  opacity: 0.8;
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
}

.nav__hambur-menu {
  height: 10px;
  grid-gap: 5px;
  padding: 17px 22px;
  position: absolute;
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 732px) {
  .nav__hambur-menu {
    display: -ms-grid;
    display: grid;
  }
}

.nav__hambur-menu .bar {
  height: 1px;
  width: 18px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__hambur-menu .bar.one.act {
  -webkit-transform: rotate(45deg) translateY(4px);
          transform: rotate(45deg) translateY(4px);
}

.nav__hambur-menu .bar.two.act {
  -webkit-transform: rotate(-45deg) translateY(-4.5px);
          transform: rotate(-45deg) translateY(-4.5px);
}

@media (max-width: 732px) {
  .nav__link {
    display: block;
    width: 100%;
    border-top: 1px solid #424245;
    padding: 22px 0;
    opacity: 1;
  }
}

.nav__link--logo {
  height: 100%;
  width: 16px;
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/ac/globalnav/6/es_419/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg);
}

@media (max-width: 732px) {
  .nav__link--logo {
    opacity: 1;
    border: 0;
    position: absolute;
    left: 50%;
  }
}

@media (max-width: 732px) {
  .nav__link--logo--large {
    display: none;
  }
}

@media (max-width: 732px) {
  .nav__link--no-border-top {
    border-top: 0;
  }
}

.nav__link--search {
  width: 18px;
  height: 100%;
  background-position: 0 0;
  background-size: 18px 88px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/ac/globalnav/6/es_419/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg);
}

@media (max-width: 732px) {
  .nav__link--search {
    display: none;
  }
}

/* HEADER */
.header {
  width: 100%;
  height: 624px;
  padding-top: 88px;
  text-align: center;
  background-image: url(https://www.apple.com/la/home/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_mediumtall_2x.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 732px) {
  .header {
    background-image: url(https://www.apple.com/la/home/images/heroes/iphone-12-purple/hero_iphone_12_purple__eybnx2ju5mky_small_2x.jpg);
  }
}

/*SECTIONS*/
.section {
  padding-top: 44px;
  text-align: center;
  width: 100%;
  height: 569px;
}

.section__p {
  margin-top: 14px;
  color: #86868b;
}

.section--ipad {
  color: white;
  background-image: url(https://www.apple.com/v/home/z/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_medium_2x.jpg);
}

@media (max-width: 734px) {
  .section--ipad {
    background-image: url(https://www.apple.com/v/home/z/images/heroes/ipad-pro/hero_ipad_pro__gl982dtu49im_small_2x.jpg);
  }
}

.section--mac {
  background-image: url(https://www.apple.com/v/home/z/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_medium_2x.jpg);
}

@media (max-width: 734px) {
  .section--mac {
    background-image: url(https://www.apple.com/la/home/images/heroes/imac/hero_imac_avail__zbofyl96mzmm_small_2x.jpg);
  }
}

.section-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 710px) {
  .section-articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.article {
  color: white;
  padding-top: 22px;
  text-align: center;
  height: 490px;
}

.article__subhead {
  width: 90%;
  margin: 4px auto 0 auto;
}

.article__p {
  margin-top: 0.8em;
}

.article--conference {
  text-shadow: 0 1px 3px rgba(110, 50, 100, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(https://www.apple.com/v/home/z/images/promos/wwdc-spring-announce-3/promo_wwdc21__p6pprzl4sjey_small_2x.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article--conference a {
  color: white;
}

.article--iphone-12 {
  background-image: url(https://www.apple.com/la/home/images/promos/iphone-12-pro/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg);
}

.article--airtag {
  color: black;
  background-image: url(https://www.apple.com/v/home/z/images/promos/airtag/promo_airtag__e6b73a64nno2_small_2x.jpg);
}

.article--watch {
  background-image: url(https://www.apple.com/la/home/images/promos/watch-series-6/promo_watch_series_6_lte__f8lrasjnry2y_small_2x.jpg);
}

.article--one {
  color: black;
  background-position: 50% 150px;
  background-image: url(https://www.apple.com/la/home/images/promos/apple-one/tile__cauwwcyyn9hy_small_2x.jpg);
}

.article--tv {
  background-position: 50% 0px;
  padding-bottom: 43px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://www.apple.com/la/home/images/promos/tv-plus-device-offer/tile_greyhound__e35b5brgkmi6_small_2x.jpg);
}

.footer {
  padding: 0 22px;
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__notes {
  max-width: 980px;
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 11px;
}

.footer__notes li {
  margin-bottom: 9.6px;
}

.footer__link {
  font-weight: 600;
}

.footer__link input[type="checkbox"] {
  display: none;
}

@media (max-width: 732px) {
  .footer__link {
    padding: 9px 0;
    border-bottom: 1px solid #d2d2d7;
  }
}

@media (max-width: 732px) {
  .footer__link p {
    position: relative;
  }
  .footer__link p::after {
    content: "+";
    position: absolute;
    right: 0;
  }
}

.footer__link li {
  font-weight: 400;
  display: block;
  margin-bottom: 0.8em;
}

@media (max-width: 732px) {
  .footer__sub-items {
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

.footer__sub-items > li {
  margin-top: 0.8em;
}

.footer__directory {
  width: 100%;
  max-width: 980px;
  padding-top: 20px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  border-bottom: 1px solid #d2d2d7;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 732px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__p {
  padding-top: 34px;
  padding-bottom: 8px;
}

.footer input[type="checkbox"]:checked + .footer__container .footer__sub-items {
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  position: static;
  -webkit-transition: visibility 300ms ease;
  transition: visibility 300ms ease;
}

.footer input[type="checkbox"]:checked + .footer__container p:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__legal-section {
  width: 100%;
  max-width: 980px;
  color: #515154;
  padding-bottom: 21px;
  padding-top: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__legal-section ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__legal-section ul li {
  border-right: 1px solid #d2d2d7;
  margin-right: 11px;
  padding-right: 10px;
}

@media (max-width: 732px) {
  .footer__legal-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer__legal-section .footer--bottom {
    padding-top: 12px;
  }
  .footer__legal-section .footer--top {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
/*# sourceMappingURL=style.css.map */